USE [EFMTPV2_COMMANDES]
GO
/****** Object:  Table [dbo].[CATEGORIE]    Script Date: 18/03/2019 10:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[ID_CAT] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CAT] [varchar](50) NULL,
	[DESCRIPTION_CAT] [varchar](50) NULL,
	[IMAGE_CAT] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 18/03/2019 10:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID_CLIENT] [varchar](30) NOT NULL,
	[NOM_CLIENT] [varchar](30) NULL,
	[PRN_CLIENT] [varchar](30) NULL,
	[TEL_CLIENT] [varchar](30) NULL,
	[EMAIL_CLIENT] [varchar](50) NULL,
	[ADRESS_CLIENT] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMANDER]    Script Date: 18/03/2019 10:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDER](
	[ID_PRODUIT] [int] NULL,
	[ID_CLIENT] [varchar](30) NULL,
	[QTE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 18/03/2019 10:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[ID_PRODUIT] [int] IDENTITY(1,1) NOT NULL,
	[ID_CAT] [int] NULL,
	[NOM_PRODUIT] [varchar](40) NULL,
	[STOCK_ACTUEL] [int] NULL,
	[STOCK_MIN] [int] NULL,
	[PRIX] [float] NULL,
	[PHOTO] [varchar](50) NULL,
 CONSTRAINT [PK__PRODUIT__69B39FED1504E2B2] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIE] ON 

INSERT [dbo].[CATEGORIE] ([ID_CAT], [NOM_CAT], [DESCRIPTION_CAT], [IMAGE_CAT]) VALUES (1, N'CATEG1', N'DESCRIPTION1', NULL)
INSERT [dbo].[CATEGORIE] ([ID_CAT], [NOM_CAT], [DESCRIPTION_CAT], [IMAGE_CAT]) VALUES (2, N'CATEG2', N'DESCRIPTION2', NULL)
SET IDENTITY_INSERT [dbo].[CATEGORIE] OFF
INSERT [dbo].[CLIENT] ([ID_CLIENT], [NOM_CLIENT], [PRN_CLIENT], [TEL_CLIENT], [EMAIL_CLIENT], [ADRESS_CLIENT]) VALUES (N'CLT001', N'NOM1', N'PRENOM1', N'0621457885', N'NOM1_PRN1@Gmail.com', N'ADRESS1')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [NOM_CLIENT], [PRN_CLIENT], [TEL_CLIENT], [EMAIL_CLIENT], [ADRESS_CLIENT]) VALUES (N'CLT002', N'NOM2', N'PRENOM2', N'0626564688', N'NOM2_PRN2@Gmail.com', N'ADRESS2')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [NOM_CLIENT], [PRN_CLIENT], [TEL_CLIENT], [EMAIL_CLIENT], [ADRESS_CLIENT]) VALUES (N'CLT003', N'NOM3', N'PRENOM3', N'0622548879', N'NOM3_PRN3@Gmail.com', N'ADRESS3')
INSERT [dbo].[COMMANDER] ([ID_PRODUIT], [ID_CLIENT], [QTE]) VALUES (2, N'CLT001', 30)
INSERT [dbo].[COMMANDER] ([ID_PRODUIT], [ID_CLIENT], [QTE]) VALUES (1, N'CLT002', 20)
INSERT [dbo].[COMMANDER] ([ID_PRODUIT], [ID_CLIENT], [QTE]) VALUES (1, N'CLT001', 10)
SET IDENTITY_INSERT [dbo].[PRODUIT] ON 

INSERT [dbo].[PRODUIT] ([ID_PRODUIT], [ID_CAT], [NOM_PRODUIT], [STOCK_ACTUEL], [STOCK_MIN], [PRIX], [PHOTO]) VALUES (1, 2, N'PROD1', 20, 5, 120, N'~/IMAGES/IMG1.JPG')
INSERT [dbo].[PRODUIT] ([ID_PRODUIT], [ID_CAT], [NOM_PRODUIT], [STOCK_ACTUEL], [STOCK_MIN], [PRIX], [PHOTO]) VALUES (2, 1, N'PROD2', 60, 10, 50, N'~/IMAGES/IMG2.jpg')
INSERT [dbo].[PRODUIT] ([ID_PRODUIT], [ID_CAT], [NOM_PRODUIT], [STOCK_ACTUEL], [STOCK_MIN], [PRIX], [PHOTO]) VALUES (3, 2, N'PROD3', 200, 10, 15, N'~/IMAGES/IMG3.jpg')
SET IDENTITY_INSERT [dbo].[PRODUIT] OFF
ALTER TABLE [dbo].[COMMANDER]  WITH CHECK ADD FOREIGN KEY([ID_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID_CLIENT])
GO
ALTER TABLE [dbo].[COMMANDER]  WITH CHECK ADD  CONSTRAINT [FK__COMMANDER__ID_PR__3D5E1FD2] FOREIGN KEY([ID_PRODUIT])
REFERENCES [dbo].[PRODUIT] ([ID_PRODUIT])
GO
ALTER TABLE [dbo].[COMMANDER] CHECK CONSTRAINT [FK__COMMANDER__ID_PR__3D5E1FD2]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD  CONSTRAINT [FK__PRODUIT__ID_CAT__3B75D760] FOREIGN KEY([ID_CAT])
REFERENCES [dbo].[CATEGORIE] ([ID_CAT])
GO
ALTER TABLE [dbo].[PRODUIT] CHECK CONSTRAINT [FK__PRODUIT__ID_CAT__3B75D760]
GO
